
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


@theme {
  /* font family */
  --font-outfit: "Outfit", sans-serif;

  /* color */
  --color-main: #1C1C1D;
  --color-main-2: #252728;
  --color-royal-blue: #0866FF;
  --color-dark-gray: #484848;

  /* breakpoints  */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-2xxl: 1500px;
  --breakpoint-3xl: 1600px;
  --breakpoint-3xxl: 1700px;
  --breakpoint-3xxxl: 1800px;
  --breakpoint-4xl: 1920px;
}

@layer base {

  body {
    @apply bg-main min-h-screen text-white/90 font-outfit
  }

  span {
    @apply inline-block;
  }

  input:focus {
    @apply !shadow-none !outline-0;
  }

  ul {
    @apply list-none
  }

  button,
  a {
    @apply transition-all duration-300 cursor-pointer max-h-none inline-block;
  }

}

@layer components {
  .container-custom {
    @apply 4xl:max-w-[1920px] mx-auto px-5;
  }

  .tooltip-white[data-tip]::before {
    @apply !bg-[#D0D0D0] !text-black !rounded-[10px] !py-2 !px-3;
  }

  .tooltip-white[data-tip]::after {
    @apply !hidden
  }

  /* .nav-link::after {
    @apply content-[""] absolute bottom-0 w-0 h-0.5 bg-[#0866FF] left-auto right-auto mx-auto
  } */

  .header-list .active {
    @apply text-[#0866FF]
  }

  /* .nav-link.active::after {
    @apply w-full
  } */

  .sidebar__ul a:hover svg,
  .sidebar__ul button:hover svg {
    @apply !fill-royal-blue transition-all duration-300
  }

  .side__link.active {
    @apply bg-black/50 text-white/80
  }

  /* .custom-scrollbar::-webkit-scrollbar {
    @apply w-3;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-[#f1f1f1] rounded-[10px]
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-[#3498db] rounded-[10px]
  } */

}

@layer utilities {
  /* .custom-scrollbar::-webkit-scrollbar {
    width: 12px !important;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: red !important;
    border-radius: 10px !important;
    scrollbar-color: red !important;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #3498db !important;
    border-radius: 10px !important;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #3498db red;
    border-radius: 10px;
  } */
}
